.mycontent {
  position: absolute;
  top: 44px;
  bottom: 51px;
  width: 100%;
  background-color: #f5f5f5;
}
.mycontent .my_left {
  position: relative;
  width: 80px;
  float: left;
  height: 100%;
}
.mycontent .my_left .link {
  width: 100%;
  background-color: #fff;
}
.mycontent .my_left .link a {
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-right: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}
.mycontent .my_left .link a.active {
  background-color: #f5f5f5;
  border-right: transparent;
}
.mycontent .my_right {
  position: relative;
  margin-left: 90px;
  height: 100%;
}
.mycontent .my_right .linkr {
  width: 100%;
  background-color: #fff;
}
.mycontent .my_right .linkr ul {
  width: 100%;
  margin-top: 10px;
}
.mycontent .my_right .linkr ul li {
  width: 33.333%;
  float: left;
}
.mycontent .my_right .linkr ul li a {
  width: 100%;
  display: block;
  text-align: center;
}
.mycontent .my_right .linkr ul li a img {
  width: 80%;
  display: block;
}
.noresult {
  padding: 20px;
  color: red;
}
